<html>
    <body>
        <table>
            <tr>
                <td>
                    Livro MATERA
                </td>
            </tr>
        </table>

        <script src="/socket.io/socket.io.js">     
        </script>
        <script>
            var socket = io();
            socket.on('novaPromocao', (data) => alert('nova mensagem' + data));
        </script>
    </body>
</html>